/* --- Кнопки фільтрів (Усі, Собаки, Коти) --- */
.btn-filter {
    background-color: #b8b8b8;
    border: none;
    border-radius: 8px;
    padding: 8px 25px;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease; 
    cursor: pointer;
}

/* Наведення на кнопки фільтрів */
.btn-filter:hover {
    background-color: #FFD54F; 
}

/* Активна кнопка (де зараз людина) */
.btn-filter.active {
    background-color: #FFD54F !important;
    font-weight: bold;
}

/* --- Картка тварини --- */
.pet-card {
    border: 2px solid #000;
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.2s;
}

.pet-card:hover {
    transform: translateY(-5px); 
}

.pet-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding: 12px;
    border-radius: 35px; 
}

/* --- Кнопки під фото тварини --- */
.btn-pet-action {
    background-color: #b8b8b8; 
    border: none;
    border-radius: 0;
    padding: 12px;
    flex: 1; 
    font-size: 0.9rem;
    color: #555;
    transition: all 0.3s ease;
}

/* Ефект наведення на кнопки під фото */
.btn-pet-action:hover {
    background-color: #71b1e5 !important; 
    color: #000;
}

.bg-light-yellow {
    background-color: #FFF1C1;
}


.btn-search {
    border: 2px solid #b8b8b8; /* тут колір рамки */
    background-color: #FFD54F; /* фон кнопки */
    color: #fff; /* колір тексту/іконки */
    transition: all 0.3s ease;
}

.btn-search:hover {
    background-color: #FFD54F;
    color: #000;
}

.menu-link {
    font-size: 1.2rem; /* трохи більший шрифт */
    font-weight: bold; /* жирний */
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
}

.menu-link:hover {
    color: #FFD54F; /* колір при наведенні */
}